.pending{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-right:10px ;
    
    background-color:yellow;
    
}

.accepted{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-right:10px ;
    
    background-color: green;
}

.rejected{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-right:10px ;
    background-color: red;
}

