@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    margin: 0;
    font-family: 'Roboto';
    overflow-x: hidden;
    font-weight: 700;
}

.bg-default {
    background-color: #D50000 !important;
}

.eshi-header {
    font-family: 'Roboto';
    font-size: 48px;
    font-weight: 900;
}

.eshi-login-aboutus {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 700;
}

.eshi-logo-png {
    height: 60px;
    padding-bottom: 1.2em;
    animation: beat .8s infinite;
}

@keyframes beat {
    to {
        transform: scale(1.2);
    }
}


.main-container {
    z-index: -1111;
    clip-path: polygon();

}

.login-box {
    width: 100%;
    min-height: 670px;
    position: relative;
}

.login-snip {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 70px 50px 70px;
    background: rgba(255, 0, 0, .8)
}

.login-snip .login,
.login-snip .sign-up-form {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    backface-visibility: hidden;
    transition: all .4s linear
}

.login-snip .sign-in,
.login-snip .sign-up,
.login-space .group .check {
    display: none
}

.login-snip .tab,
.login-space .group .label,
.login-space .group .button {
    text-transform: uppercase
}

.login-snip .tab {
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent
}

.login-snip .sign-in:checked+.tab,
.login-snip .sign-up:checked+.tab {
    color: #fff;
    border-color: #1161ee
}

.login-space {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d
}

.login-space .group {
    margin-bottom: 15px
}

.login-space .group .label,
.login-space .group .input,
.login-space .group .button {
    width: 100%;
    color: #fff;
    display: block;
    font-weight: 700;
}

.login-space .group .input,
.login-space .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1)
}

.login-space .group .label {
    color: #fff;
    font-size: 12px
}

.login-space .group .button {
    background: #1161ee
}

.login-space .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, .1)
}

.login-space .group label .icon:before,
.login-space .group label .icon:after {
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all .2s ease-in-out 0s
}

.login-space .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0)
}

.login-space .group label .icon:after {
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0)
}

.login-space .group .check:checked+label {
    color: #fff
}

.login-space .group .check:checked+label .icon {
    background: #1161ee
}

.login-space .group .check:checked+label .icon:before {
    transform: scale(1) rotate(45deg)
}

.login-space .group .check:checked+label .icon:after {
    transform: scale(1) rotate(-45deg)
}

.login-snip .sign-in:checked+.tab+.sign-up+.tab+.login-space .login {
    transform: rotate(0)
}

a {
    color: inherit;
    text-decoration: none
}

.hr {
    height: 2px;
    margin: 50px 0 20px 0;
    background: rgba(255, 255, 255, .4)
}

.foot {
    text-align: center;
}

.foot a:hover {
    color: #fff;
    text-decoration: none;
}

.card {
    width: 100%;
    justify-content: center;
    top: -30%;
}

::placeholder {
    color: #fff
}


.bg-gradient-primary {
    background: linear-gradient(87deg, #fff 0, #fff 100%) !important
}


.separator {
    position: absolute;
    top: auto;
    right: 0;
    left: 0;
    overflow: hidden;

    width: 100%;
    height: 150px;

    transform: translateZ(0);
    pointer-events: none;
}

.separator svg {
    position: absolute;

    pointer-events: none;
}

.separator-top {
    top: 0;
    bottom: auto;
}

.separator-top svg {
    top: 0;
}

.separator-bottom {
    top: auto;
    bottom: 0;
}

.separator-bottom svg {
    bottom: 0;
}

.separator-inverse {
    transform: rotate(180deg);
}

.separator-skew {
    height: 60px;
}

.header {
    position: relative;
}

.fill-default{
    fill:#D50000;
}
