.card-wrapper{
    height: 450px;
    perspective: 1000px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.content{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8;
    transform-style: preserve-3d;
}

.card-wrapper:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-wrapper:hover .content{
    transform: rotateY(180deg);
    transition: 1s;
}

.face-front, .face-back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
}

.face-back{
    transform: rotateY(180deg);
}

/* Breadcrumb */
.breadcrumbwidth{
    /* width: 200 */
}

@media screen and (max-width:768px){
    #sidebar{
        display: none;
    }
    .main{
        position: absolute;
        margin-left: 0;
    }
}